<div class="wrapper fadeInDown">
  <h2 class="text-center">Seja bem vindo </h2>
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <span src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" >SoftBank</span>
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="onSubmit()">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="email" required [(ngModel)]="accountLogin.userName">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="senha" required [(ngModel)]="accountLogin.password">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueceu sua senha?</a>
    </div>

  </div>
</div>