.content{
    width: 100%;
}

/*image-background*/
.img-background{
    width: 100%;
    background:url('https://raw.githubusercontent.com/Diegolaquino/SoftBank/master/softbank-client/src/img/capa.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 80px;
}

.chamada{
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.titulo-mais{
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.servicos-banco{
    margin-top: 30px;
}

.servicos-banco div{
    padding-top: 15px;
    padding-bottom: 15px;
}

.servico{
    height: 150px;
}
