<div class="img-background">
    <div class="container">
        <h2 class="text-center chamada">The bank of your family</h2>
    </div>
</div>
<div class="content">
    <div class="container">
        <h1 class="text-center titulo-mais">Mais Facilidades</h1>
        <div class="row servicos-banco text-center">
            <div class="col-md-3 servico">
                <span><img src="assets/barcode.png"></span>
                <h4>Crédito Imobiliário</h4>
            </div>
            <div class="col-md-3 servico">
                <img src="assets/barcode.png">
                <h4>Boletos</h4>
            </div>
            <div class="col-md-3 servico">
                <img src="assets/barcode.png">
                <h4>Pagamentos</h4>
            </div>
            <div class="col-md-3 servico">
                <img src="assets/barcode.png">
                <h4>Renegociação</h4>
            </div>
        </div>
    </div>
</div>