<div class="area-login">
    <div>
        <span [hidden]="!submitted" class="welcome">Seja bem vindo, {{ customer }}</span>
        <form id="form-login" (ngSubmit)="onSubmit()" [hidden]="submitted">
            <p>Acessar sua conta <span>S2</span> | </p>
            
            <label>Agencia:</label>
            <input type="text" name="agencia" id="agencia" required [(ngModel)]="account.agencia">
            <label>Conta:</label>
            <input type="text" name="conta" id="conta" required [(ngModel)]="account.conta">
            <button type="submit">OK</button>
        </form>
    </div>
</div>