<div class="area-login">
    <div>
        
        <form id="form-login">
            <p>Acessar sua conta <span>S2</span> | </p>
            
            <label>Agencia:</label>
            <input type="text" name="agencia" id="agencia">
            <label>Conta:</label>
            <input type="text" name="conta" id="conta">
            <button type="submit" (click)="onSubmit()">OK</button>
        </form>
    </div>
</div>
<div class="img-background">
    <div class="container">
        <h2 class="text-center chamada">The bank of your family</h2>
    </div>
</div>