.area-login{
    height: 40px;
    background-color: #cc092f;
    width: 100%;
    min-width: 735px;
    padding-top: 5px;
}

#form-login{
    display: inline;
}

#form-login p {
    width: 200px;
    margin-left: 10px;
    float: left;
    color: white;
}

#form-login label{
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#form-login label, #form-login input{
    margin-right: 5px;
}

#form-login input[type=text]{
    border: none;
}

#form-login input[name=agencia]{
    width: 50px;
}

#form-login input[name=conta]{
    width: 90px;
}

button[type=submit]{
    border: none;
    color: white;
    background-color: #b41a83;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    height: 27px;
}


/*image-background*/
.img-background{
    width: 100%;
    background-color: blueviolet;
    height: 600px;

}