<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container footer-geral">
        <div class="container-fluid text-center text-md-left">
  
            <!-- Grid row -->
            <div class="row">
        
              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">
        
                <!-- Content -->
                <h5 class="text-uppercase">SoftBank</h5>
                <p>O banco da sua família e de todos os brasileiros</p>
        
              </div>
              <!-- Grid column -->
        
              <hr class="clearfix w-100 d-md-none pb-3">
        
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
        
                <!-- Links -->
                <h5 class="text-uppercase">Serviços</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <p>Conta para empresas</p>
                  </li>
                  <li>
                    <p>Câmbio</p>
                  </li>
                  <li>
                    <p>Empréstimos</p>
                  </li>
                  <li>
                    <p>Recarga de celular</p>
                  </li>
                </ul>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
        
                <!-- Links -->
                <h5 class="text-uppercase">Suporte</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <p>SAC</p>
                  </li>
                  <li>
                    <p>Atendimento ao deficiente</p>
                  </li>
                  <li>
                    <p>Trabalhe conosco</p>
                  </li>
                  <li>
                    <p>Outras informações</p>
                  </li>
                </ul>
        
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </div>
          <!-- Footer Links -->
        
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <span> SoftBank</span>
          </div>
          <!-- Copyright -->
    </div>
  
  </footer>
  <!-- Footer -->